modbus_flows.json
[{"id":"13e6f8a330eb1144","type":"tab","label":"Variáveis Globais","disabled":false,"info":"","env":[]},{"id":"c71707bcf3908fc2","type":"tab","label":"IF10 - RS485 - Modbus RTU (Buffered)","disabled":false,"info":"","env":[{"name":"linha_if","value":"0","type":"num"}]},{"id":"826b42c4a2f8b8de","type":"tab","label":"IF10 - Dashboard - Node Red Native","disabled":false,"info":"","env":[]},{"id":"7f4f4fa5fa5df083","type":"tab","label":"Remote Red","disabled":false,"info":"","env":[]},{"id":"9371beaac082029b","type":"tab","label":"IF20 - RS485 Modbus","disabled":false,"info":"","env":[]},{"id":"99f5c956fd30274b","type":"tab","label":"IF20 - Dashboard","disabled":false,"info":"","env":[]},{"id":"cf2ed31164ba6963","type":"tab","label":"IF20 - Dashboard 2.0 - Flowfuse","disabled":false,"info":"","env":[]},{"id":"af353d166690c747","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"b7042f7af5a73fcd","type":"modbus-client","name":"MSC-1521U","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":true,"failureLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"","commandDelay":2,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false,"showErrors":false,"showWarnings":true,"showLogs":true},{"id":"92cc4ffd227824ff","type":"ui_tab","name":"IF10","icon":"filter_1","order":1,"disabled":false,"hidden":false},{"id":"35672bf6f4601a53","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"deep-purple","accents":"light-blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":50,"gy":30,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf4d79d5041df21a","type":"ui_group","name":"Parâmetros Básicos","tab":"92cc4ffd227824ff","order":2,"disp":true,"width":7,"collapse":true,"className":""},{"id":"8f0b37e644b44e01","type":"ui_tab","name":"IF20","icon":"filter_2","order":2,"disabled":false,"hidden":false},{"id":"52e687c73a14dfa3","type":"ui_group","name":"Controles","tab":"8f0b37e644b44e01","order":1,"disp":true,"width":17,"collapse":false,"className":""},{"id":"44fb122a642cfe6d","type":"ui_group","name":"Parâmetros de Alarme","tab":"92cc4ffd227824ff","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"3be4727da78c4506","type":"ui_group","name":"Controles","tab":"92cc4ffd227824ff","order":1,"disp":true,"width":18,"collapse":false,"className":""},{"id":"ae28f0905b4ad31a","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"1qme2xy2ht3pklysr8snpqyqp0jc3lqhj5zx9moil9cm5lahb2mri26j7ekwf25j","server":"nodered03.remote-red.com","region":"us"},{"id":"b4ef605f.7699b","type":"ui_group","name":"uso cpu","tab":"1ad18e6096b4d48c","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"1ad18e6096b4d48c","type":"ui_tab","name":"Node Red","icon":"dashboard","disabled":false,"hidden":false},{"id":"6baad2e67433db5f","type":"ui-base","name":"Dashboard - Flowfuse 2.0","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":"1","showDisconnectNotification":true},{"id":"a26a640088beac62","type":"ui-theme","name":"Default Theme","colors":{"surface":"#673ab7","primary":"#0094ce","bgPage":"#303030","groupBg":"#424242","groupOutline":"#cccccc"},"sizes":{"density":"compact","pagePadding":"6px","groupGap":"12px","groupBorderRadius":"0px","widgetGap":"4px"}},{"id":"8b0c26b4ee9c2b9f","type":"ui-page","name":"IF10","ui":"6baad2e67433db5f","path":"/if10","icon":"numeric-1-box-multiple","layout":"grid","theme":"a26a640088beac62","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"0d60002b29a54fad","type":"ui-group","name":"Controle","page":"8b0c26b4ee9c2b9f","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"a58b13523d5b7218","type":"ui-page","name":"IF20","ui":"6baad2e67433db5f","path":"/if20","icon":"numeric-2-box-multiple","layout":"grid","theme":"a26a640088beac62","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"d0d4dcbb7b1e4bd8","type":"ui-page","name":"IF30","ui":"6baad2e67433db5f","path":"/if30","icon":"numeric-3-box-multiple","layout":"grid","theme":"a26a640088beac62","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":true,"disabled":false},{"id":"453ffcdce8172332","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bbaaf3202bcb9710","type":"ui-group","name":"RS-485 / Modbus RTU","page":"a58b13523d5b7218","width":6,"height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"414cbcc9e91c992c","type":"ui-spacer","group":"bbaaf3202bcb9710","name":"spacer","order":3,"width":1,"height":1,"className":""},{"id":"b34cfdcae96af7a4","type":"ui-group","name":"Controle","page":"a58b13523d5b7218","width":"6","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":false,"groupType":"default"},{"id":"3573df7d5e519b84","type":"ui-group","name":"Controle da saída Analógica  (%)","page":"a58b13523d5b7218","width":"6","height":"1","order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"1d3a40be7fedde23","type":"ui-group","name":"Controle de saída de Pulsos (%)","page":"a58b13523d5b7218","width":"6","height":"1","order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c005d009505aca4a","type":"ui-group","name":"Parâmetros de partida/parada","page":"a58b13523d5b7218","width":"6","height":"1","order":5,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e395a4d2d2ed13f0","type":"ui-group","name":"Indicadores","page":"a58b13523d5b7218","width":"6","height":"1","order":6,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ce1de8e20efc7ac6","type":"ui_group","name":"Gráficos","tab":"8f0b37e644b44e01","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"4f88c1c74f2640c7","type":"ui_spacer","z":"99f5c956fd30274b","name":"spacer","group":"52e687c73a14dfa3","order":17,"width":5,"height":1},{"id":"fa9d47ad5171a81b","type":"inject","z":"13e6f8a330eb1144","name":"","props":[{"p":"topic","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":100,"wires":[["c69d8c8cd564583f"]]},{"id":"c69d8c8cd564583f","type":"function","z":"13e6f8a330eb1144","name":"Variaveis Globais de Controle IF10, IF20 e IF30","func":"// Recupera a variável booleana do contexto do fluxo\nvar controleIF10 = global.get('controleIF10') || false;\nvar controleIF20 = global.get('controleIF20') || false;\nvar controleIF30 = global.get('controleIF30') || false;\n\nvar enderecoIF20 = global.get('controleIF20') || 0;\n\nvar freqMaxIF20 = global.get('freqMaxIF20') || 0;\nvar freqLimSupIF20 = global.get('freqLimSupIF20') || 0;\nvar freqEscalaIF20 = global.get('freqEscalaIF20') || 0;  // Escala de -10.000 à +10.000\nvar statusIF20 = global.get('statusIF20') || 0;\n\n// Armazena a variável booleana de volta no contexto do fluxo\nglobal.set('controleIF10', controleIF10);\nglobal.set('controleIF20', controleIF20);\nglobal.set('controleIF30', controleIF30);\n\nglobal.set('enderecoIF20', enderecoIF20);\n\nglobal.set('freqMaxIF20', freqMaxIF20);\nglobal.set('freqLimSupIF20', freqLimSupIF20);\nglobal.set('freqEscalaIF20', freqEscalaIF20);\nglobal.set('statusIF20', statusIF20);\n\n// Retorna a mensagem\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[[]]},{"id":"6ed7055bf0fdaea0","type":"comment","z":"13e6f8a330eb1144","name":"Variáveis Globais - Injetado somente na inicialização","info":"","x":230,"y":40,"wires":[]},{"id":"b62c2f7ddf22dd3f","type":"comment","z":"c71707bcf3908fc2","name":"Read Register (FC:3) - Modbus RTU (Buffered) - RS485","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":240,"y":40,"wires":[]},{"id":"cfe72d591539f902","type":"comment","z":"c71707bcf3908fc2","name":"Write Single Register (FC:6) - Modbus RTU (Buffered) - RS485","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":270,"y":780,"wires":[]},{"id":"c5552d1b19311360","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2001","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":420,"y":920,"wires":[["976d4bbff886c2a6"],[]]},{"id":"bcc32792737ac646","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"200","payloadType":"num","x":230,"y":920,"wires":[["c5552d1b19311360","e51741e927ef8554"]]},{"id":"e51741e927ef8554","type":"debug","z":"c71707bcf3908fc2","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":980,"wires":[]},{"id":"976d4bbff886c2a6","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":670,"y":900,"wires":[]},{"id":"46dbd6d6f260d4e1","type":"comment","z":"c71707bcf3908fc2","name":"Modifica a Frequencia de Setpoint (End. 2001H)","info":"","x":280,"y":840,"wires":[]},{"id":"f8f748067fee105c","type":"comment","z":"c71707bcf3908fc2","name":"Inicia (End. 2000h / bit 10 - 2 decimal)","info":"","x":250,"y":1080,"wires":[]},{"id":"6a542a0747620e56","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":420,"y":1140,"wires":[["49e441e1d556012b"],[]]},{"id":"cfec397a88861a85","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":230,"y":1140,"wires":[["6a542a0747620e56","a766dda37f444de6"]]},{"id":"a766dda37f444de6","type":"debug","z":"c71707bcf3908fc2","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":1200,"wires":[]},{"id":"49e441e1d556012b","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":670,"y":1120,"wires":[]},{"id":"a3f7f0d62b82fda0","type":"comment","z":"c71707bcf3908fc2","name":"Stop (End. 2000h / bit 01 - 1 decimal)","info":"","x":250,"y":1300,"wires":[]},{"id":"a391d2fd3717198f","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":420,"y":1360,"wires":[["8bba5823aec8d0f6"],[]]},{"id":"1383d4fc53f3ed10","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":1360,"wires":[["a391d2fd3717198f","c58c25cce8dccf68"]]},{"id":"c58c25cce8dccf68","type":"debug","z":"c71707bcf3908fc2","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":1420,"wires":[]},{"id":"8bba5823aec8d0f6","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":670,"y":1340,"wires":[]},{"id":"6602c93723d2031c","type":"link in","z":"c71707bcf3908fc2","name":"link in 2","links":["48616d8792905f8e"],"x":195,"y":1200,"wires":[["6a542a0747620e56"]]},{"id":"1659c4e3d3cebdf5","type":"link in","z":"c71707bcf3908fc2","name":"link in 3","links":["af588395e2517219"],"x":195,"y":1420,"wires":[["a391d2fd3717198f"]]},{"id":"2aab08000d5f9c78","type":"link in","z":"c71707bcf3908fc2","name":"link in 4","links":["b9129b361db752fb"],"x":195,"y":980,"wires":[["c5552d1b19311360"]]},{"id":"d89bbf5c16947add","type":"link out","z":"c71707bcf3908fc2","name":"link out 5","mode":"link","links":["036cc8750be66286"],"x":655,"y":340,"wires":[]},{"id":"30db9cc0b65cba61","type":"link out","z":"c71707bcf3908fc2","name":"link out 1","mode":"link","links":["98716d5ed3536841"],"x":655,"y":220,"wires":[]},{"id":"8b3557d82d7aeeae","type":"modbus-flex-getter","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":470,"y":260,"wires":[["3642eda40ea3cc87","30db9cc0b65cba61","f9b636a876b60f0f"],[]]},{"id":"db53edfa793e427a","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"topic","v":"true","vt":"bool"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":140,"wires":[["f9110f38679bd91c","d5e878bc532b7b7b"]]},{"id":"7a32af3f6a0624b2","type":"function","z":"c71707bcf3908fc2","name":"FC:3 (P0:10)","func":"msg.payload = {\n'fc': 3,\n'unitid': 1,\n'address':0,\n'quantity': 10 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":260,"wires":[["8b3557d82d7aeeae"]]},{"id":"3642eda40ea3cc87","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":730,"y":260,"wires":[]},{"id":"f9b636a876b60f0f","type":"function","z":"c71707bcf3908fc2","name":"FC:3 (P028:0.1)","func":"msg.payload = {\n'fc': 3,\n'unitid': 1,\n'address':27,\n'quantity': 2 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":380,"wires":[["92b0cbcb7a51f0e3"]]},{"id":"92b0cbcb7a51f0e3","type":"modbus-flex-getter","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":470,"y":380,"wires":[["0e3722f98d281f09","d89bbf5c16947add","b9a0e16ef4603648"],[]]},{"id":"0e3722f98d281f09","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":730,"y":380,"wires":[]},{"id":"ea965017c1c52a7e","type":"link out","z":"c71707bcf3908fc2","name":"link out 6","mode":"link","links":["f6534466eac98986"],"x":655,"y":460,"wires":[]},{"id":"b9a0e16ef4603648","type":"function","z":"c71707bcf3908fc2","name":"FC:3 (P020:1)","func":"msg.payload = {\n'fc': 3,\n'unitid': 1,\n'address':19,\n'quantity': 1 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":500,"wires":[["a7de5b250857edaa"]]},{"id":"a7de5b250857edaa","type":"modbus-flex-getter","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":470,"y":500,"wires":[["9139ae6c15a016d9","ea965017c1c52a7e","af99e796ad0552d6"],[]]},{"id":"9139ae6c15a016d9","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":730,"y":500,"wires":[]},{"id":"c8a3749c8c809eee","type":"comment","z":"c71707bcf3908fc2","name":"Comando [bit liga/desliga, bit cw/ccw]","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":250,"y":340,"wires":[]},{"id":"5c50d999cdfa270a","type":"comment","z":"c71707bcf3908fc2","name":"SP[Hz], PV[Hz], IOut[A], r/min, Vdc","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":240,"y":220,"wires":[]},{"id":"96c23db720620ebf","type":"comment","z":"c71707bcf3908fc2","name":"Potência de Saída (W)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":460,"wires":[]},{"id":"3214ffbd52220ca3","type":"comment","z":"c71707bcf3908fc2","name":"Polling Rate (1000ms)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":160,"y":100,"wires":[]},{"id":"c33855628d132752","type":"comment","z":"c71707bcf3908fc2","name":"JOG (End. 2000h / bit 01 - 3 decimal)","info":"","x":250,"y":1520,"wires":[]},{"id":"2cd1dfe56b574dc1","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":440,"y":1580,"wires":[["f5461da325b4eb7f"],[]]},{"id":"d7a783ef5b84f2bf","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":250,"y":1580,"wires":[["2cd1dfe56b574dc1","94e9035626acf4e3"]]},{"id":"94e9035626acf4e3","type":"debug","z":"c71707bcf3908fc2","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1640,"wires":[]},{"id":"f5461da325b4eb7f","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":690,"y":1560,"wires":[]},{"id":"6935d98649e89c18","type":"link in","z":"c71707bcf3908fc2","name":"link in 7","links":["d191ad1d9f6e2f1d"],"x":215,"y":1640,"wires":[["2cd1dfe56b574dc1"]]},{"id":"f9110f38679bd91c","type":"link out","z":"c71707bcf3908fc2","name":"link out 9","mode":"link","links":["b1442b878851c277"],"x":335,"y":100,"wires":[]},{"id":"d4a50d7c4d74779e","type":"comment","z":"c71707bcf3908fc2","name":"REV (End. 2000h / bit 2~3 - 4 decimal)","info":"","x":250,"y":1740,"wires":[]},{"id":"ed4107944c9fc260","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":440,"y":1800,"wires":[["fdd7cebe287bbccb"],[]]},{"id":"6993b4ea185aec3a","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":250,"y":1800,"wires":[["ed4107944c9fc260"]]},{"id":"36e2a0148a47dd58","type":"debug","z":"c71707bcf3908fc2","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1860,"wires":[]},{"id":"fdd7cebe287bbccb","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":690,"y":1780,"wires":[]},{"id":"22a7b43e39850cbe","type":"link in","z":"c71707bcf3908fc2","name":"link in 9","links":["727c593aa063dd8c"],"x":215,"y":1860,"wires":[["ed4107944c9fc260","36e2a0148a47dd58"]]},{"id":"21522dcd450b46e0","type":"comment","z":"c71707bcf3908fc2","name":"FWD (End. 2000h / bit 2~3 - 8 decimal)","info":"","x":250,"y":1960,"wires":[]},{"id":"f4ca6551df77cba0","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":440,"y":2020,"wires":[["cfecc4823109dd6b"],[]]},{"id":"8d1601e425a3ec8e","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":250,"y":2020,"wires":[["f4ca6551df77cba0"]]},{"id":"81fc70981fe5e817","type":"debug","z":"c71707bcf3908fc2","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":2080,"wires":[]},{"id":"cfecc4823109dd6b","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":690,"y":2000,"wires":[]},{"id":"4ba628605769bf1a","type":"link in","z":"c71707bcf3908fc2","name":"link in 10","links":["98ac4371bc75ddad"],"x":215,"y":2080,"wires":[["f4ca6551df77cba0","81fc70981fe5e817"]]},{"id":"9501a739a4c35bb8","type":"comment","z":"c71707bcf3908fc2","name":"Direção (End. 2000h / bit 2~3 - 12 decimal)","info":"","x":260,"y":2180,"wires":[]},{"id":"5424ea4b9ce5530b","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":440,"y":2240,"wires":[["994f8450eea5c774"],[]]},{"id":"ab4b6f20d2f94fbf","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":250,"y":2240,"wires":[["5424ea4b9ce5530b","3ad98213aaacbfd1"]]},{"id":"3ad98213aaacbfd1","type":"debug","z":"c71707bcf3908fc2","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":2300,"wires":[]},{"id":"994f8450eea5c774","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":690,"y":2220,"wires":[]},{"id":"89a080866ff2ef69","type":"comment","z":"c71707bcf3908fc2","name":"Resetar Alarme (End. 2000h / bit 4 - 16 decimal)","info":"","x":280,"y":2400,"wires":[]},{"id":"dbdbc51cec78187e","type":"modbus-write","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":440,"y":2460,"wires":[["9d37c36ecbeceab2"],[]]},{"id":"5d5a6c3e0e26a717","type":"inject","z":"c71707bcf3908fc2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"16","payloadType":"num","x":250,"y":2460,"wires":[["dbdbc51cec78187e"]]},{"id":"286582e0f9eb39ec","type":"debug","z":"c71707bcf3908fc2","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":2520,"wires":[]},{"id":"9d37c36ecbeceab2","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":690,"y":2440,"wires":[]},{"id":"ac09f9ed162863e8","type":"link in","z":"c71707bcf3908fc2","name":"link in 12","links":["60fbd5b5b35a86a8"],"x":215,"y":2520,"wires":[["dbdbc51cec78187e","286582e0f9eb39ec"]]},{"id":"01ef1e177693b466","type":"comment","z":"c71707bcf3908fc2","name":"P027 (FC:3) - Alarmes (somente leitura)","info":"","x":190,"y":580,"wires":[]},{"id":"eda8355b0ebc7219","type":"modbus-flex-getter","z":"c71707bcf3908fc2","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":470,"y":640,"wires":[["63b70d06a2394762","b843c24182380353"],[]]},{"id":"af99e796ad0552d6","type":"function","z":"c71707bcf3908fc2","name":"FC:3 (27:16)","func":"msg.payload = {\n'fc': 3,\n'unitid': 1,\n'address':0x1B,\n'quantity': 16 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":640,"wires":[["eda8355b0ebc7219"]]},{"id":"63b70d06a2394762","type":"modbus-response","z":"c71707bcf3908fc2","name":"","registerShowMax":20,"x":730,"y":640,"wires":[]},{"id":"b843c24182380353","type":"link out","z":"c71707bcf3908fc2","name":"link out 13","mode":"link","links":["00ecb43d99163f0b"],"x":655,"y":600,"wires":[]},{"id":"d5e878bc532b7b7b","type":"ui_switch","z":"c71707bcf3908fc2","name":"","label":"Habilitar controles","tooltip":"","group":"3be4727da78c4506","order":1,"width":9,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":410,"y":140,"wires":[["e38f6ebffbd87a38"]]},{"id":"e38f6ebffbd87a38","type":"function","z":"c71707bcf3908fc2","name":"Habilita controle IF10","func":"if(msg.payload)\n{\n    global.set('controleIF10', true);\n    global.set('controleIF20', false);\n    global.set('controleIF30', false);\n\n}\nelse\n{\n    global.set('controleIF10', false)\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["a64adedc402a517c"]]},{"id":"a64adedc402a517c","type":"switch","z":"c71707bcf3908fc2","name":"","property":"controleIF10","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":140,"wires":[["7a32af3f6a0624b2"]]},{"id":"2cada521ab50aee4","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":1,"width":7,"height":1,"name":"","label":"P001 - Freq. ajustada (SP):","format":"{{msg.payload}} Hz","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":680,"y":100,"wires":[],"inputLabels":["Vdc"]},{"id":"98716d5ed3536841","type":"link in","z":"826b42c4a2f8b8de","name":"link in 1","links":["30db9cc0b65cba61"],"x":255,"y":100,"wires":[["10da9c3107cc3bbb","263d33a8f319a184","11d4354e94f59d42","bf62072f0b744154","be8243e5004977c5","8aba82d91819cb34"]]},{"id":"cbdb9cfe696be6e7","type":"comment","z":"826b42c4a2f8b8de","name":"IF-10 - Parâmetros (somente leitura)","info":"","x":180,"y":40,"wires":[]},{"id":"f2566e0ec3bc7c58","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":2,"width":7,"height":1,"name":"","label":"P002 - Freq. de saída (PV):","format":"{{msg.payload}} Hz","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":680,"y":220,"wires":[]},{"id":"7edabaf64fb3d36f","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":3,"width":7,"height":1,"name":"","label":"P003 - Corrente de saída:","format":"{{msg.payload}} A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":320,"wires":[]},{"id":"070f95dedfd49692","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":4,"width":7,"height":1,"name":"","label":"P004 - Velocidade (r/min):","format":"{{msg.payload}} rpm","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#ff8800","x":670,"y":380,"wires":[]},{"id":"bf3bfc6247bd1c41","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":5,"width":7,"height":1,"name":"","label":"P005 - Tensão do barramento DC:","format":"{{msg.payload}} Vdc","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":700,"y":480,"wires":[]},{"id":"cf6cf781075f296c","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":6,"width":7,"height":1,"name":"","label":"P009 - Tensão de saída:","format":"{{msg.payload}} Vca","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":540,"wires":[]},{"id":"45680b81cfe3f71a","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":7,"width":7,"height":1,"name":"","label":"P020 - Potência de saída:","format":"{{msg.payload}} kW","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":600,"wires":[]},{"id":"33389517be3616b6","type":"ui_text","z":"826b42c4a2f8b8de","group":"cf4d79d5041df21a","order":8,"width":7,"height":1,"name":"","label":"P028 - Status do comando:","format":"{{msg.payload}} bit","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":680,"y":660,"wires":[]},{"id":"0ae4d866b8cc8df0","type":"comment","z":"826b42c4a2f8b8de","name":"P027 (FC:3) - Alarmes (somente leitura)","info":"","x":190,"y":760,"wires":[]},{"id":"2c05d67acaa12e6a","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":1,"width":7,"height":1,"name":"","label":"P027 (bit 0) - (UC) Sobrecorrente:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":720,"y":840,"wires":[]},{"id":"f456ad71df3a20ca","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":3,"width":7,"height":1,"name":"","label":"P027 (bit 1) - (OC) Sobrecorrente:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":720,"y":960,"wires":[]},{"id":"cf6ba2abf6999683","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":5,"width":7,"height":1,"name":"","label":"P027 (bit 2) - (CO) Erro de comunicação:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":1080,"wires":[]},{"id":"858b525085337d60","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":7,"width":7,"height":1,"name":"","label":"P027 (bit 3) - (LO) Falta de fase de saída:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":1180,"wires":[]},{"id":"34dda6992d9f3d82","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":9,"width":7,"height":1,"name":"","label":"P027 (bit 4) - (OU) Sobretensão:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":1280,"wires":[]},{"id":"763dbea268de815e","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":11,"width":7,"height":1,"name":"","label":"P027 (bit 5) - Reservado:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":690,"y":1380,"wires":[]},{"id":"1683ed9805012eba","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":13,"width":7,"height":1,"name":"","label":"P027 (bit 6) - (LU) Sobretensão:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":1480,"wires":[]},{"id":"d92c517e7e63cee6","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":15,"width":7,"height":1,"name":"","label":"P027 (bit 7) - (OL) Motor com sobrecarga:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":740,"y":1580,"wires":[]},{"id":"22d6a55af5c27351","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":17,"width":7,"height":1,"name":"","label":"P027 (bit 8) - (OT) Sobretorque:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":1680,"wires":[]},{"id":"ed3bb0fa67f6e973","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":19,"width":7,"height":1,"name":"","label":"P027 (bit 9) - (OH) Sobreaquecimento:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":1780,"wires":[]},{"id":"efa8aa2e6f9f1cea","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":21,"width":7,"height":1,"name":"","label":"P027 (bit 10) - Erro no sinal 4mA:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":720,"y":1880,"wires":[]},{"id":"fc88e8d9bf88040d","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":23,"width":7,"height":1,"name":"","label":"P027 (bit 11~14) - Reservado:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":1980,"wires":[]},{"id":"0d61f893ad3169a3","type":"ui_text","z":"826b42c4a2f8b8de","group":"44fb122a642cfe6d","order":25,"width":7,"height":1,"name":"","label":"P027 (bit 15) - Alarme:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":680,"y":2080,"wires":[]},{"id":"1312b2f78330ade9","type":"comment","z":"826b42c4a2f8b8de","name":"IF-10 - Controles","info":"","x":120,"y":2200,"wires":[]},{"id":"fc3aceff92e98428","type":"ui_text","z":"826b42c4a2f8b8de","group":"3be4727da78c4506","order":3,"width":5,"height":1,"name":"","label":"Freq. ajustada (SP):","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":220,"y":2260,"wires":[]},{"id":"4a3764af939007d6","type":"ui_button","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":8,"width":3,"height":1,"passthru":false,"label":"FWD","tooltip":"Sentido Horário","color":"","bgcolor":"","className":"","icon":"rotate_right","payload":"8","payloadType":"num","topic":"topic","topicType":"msg","x":170,"y":2700,"wires":[["98ac4371bc75ddad"]]},{"id":"e7acf79e6a01ebb0","type":"ui_slider","z":"826b42c4a2f8b8de","name":"","label":"","tooltip":"","group":"3be4727da78c4506","order":5,"width":9,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"600","step":1,"className":"","x":170,"y":2320,"wires":[["6589e5607861ce7e","b9129b361db752fb"]]},{"id":"104d8fa19d9d5fb8","type":"ui_text","z":"826b42c4a2f8b8de","group":"3be4727da78c4506","order":4,"width":4,"height":1,"name":"","label":"","format":"{{msg.payload}} Hz","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":470,"y":2320,"wires":[]},{"id":"da5b1b9efc21d6b5","type":"ui_button","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":13,"width":3,"height":1,"passthru":false,"label":"REV","tooltip":"Sentido Anti-Horário","color":"","bgcolor":"","className":"","icon":"rotate_left","payload":"4","payloadType":"num","topic":"topic","topicType":"msg","x":170,"y":2760,"wires":[["727c593aa063dd8c"]]},{"id":"77c884c060415b02","type":"ui_button","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":7,"width":4,"height":1,"passthru":false,"label":"START","tooltip":"","color":"white","bgcolor":"green","className":"","icon":"play_arrow","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":180,"y":2520,"wires":[["48616d8792905f8e"]]},{"id":"6d3bdb85a44179ad","type":"ui_button","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":12,"width":4,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"White","bgcolor":"Red","className":"","icon":"stop","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":170,"y":2580,"wires":[["af588395e2517219","89cd740431492f65"]]},{"id":"94e55918ccad7969","type":"ui_gauge","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":10,"width":9,"height":3,"gtype":"gage","title":"Velocidade","label":"r/min","format":"{{value}}","min":0,"max":"2500","colors":["#ff8800","#ff8800","#ff8800"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":420,"wires":[]},{"id":"2109a004e5973664","type":"ui_led","z":"826b42c4a2f8b8de","order":6,"group":"3be4727da78c4506","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"1","valueType":"num"},{"color":"#00ff00","value":"2","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":690,"y":2520,"wires":[]},{"id":"88ddd42b40fcd41a","type":"ui_led","z":"826b42c4a2f8b8de","order":11,"group":"3be4727da78c4506","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#808080","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":690,"y":2580,"wires":[]},{"id":"8668aad993c5e472","type":"ui_led","z":"826b42c4a2f8b8de","order":9,"group":"3be4727da78c4506","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"1","valueType":"num"},{"color":"#808080","value":"2","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":810,"y":2740,"wires":[]},{"id":"4764474394bf328a","type":"ui_led","z":"826b42c4a2f8b8de","order":14,"group":"3be4727da78c4506","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"2","valueType":"num"},{"color":"#808080","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":810,"y":2800,"wires":[]},{"id":"0ac6edf8d1c4b1dd","type":"ui_button","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":17,"width":4,"height":1,"passthru":false,"label":"RESETAR ALARMES","tooltip":"","color":"","bgcolor":"","className":"","icon":"layers_clear","payload":"16","payloadType":"num","topic":"topic","topicType":"msg","x":220,"y":2820,"wires":[["60fbd5b5b35a86a8"]]},{"id":"a47d20441cc0e320","type":"ui_button","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":16,"width":4,"height":1,"passthru":false,"label":"JOG","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"timelapse","payload":"3","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":2640,"wires":[["d191ad1d9f6e2f1d","89cd740431492f65"]]},{"id":"89cd740431492f65","type":"ui_led","z":"826b42c4a2f8b8de","order":15,"group":"3be4727da78c4506","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ffffff","value":"3","valueType":"str"},{"color":"#808080","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":690,"y":2640,"wires":[]},{"id":"48616d8792905f8e","type":"link out","z":"826b42c4a2f8b8de","name":"link out 2","mode":"link","links":["6602c93723d2031c"],"x":335,"y":2500,"wires":[]},{"id":"af588395e2517219","type":"link out","z":"826b42c4a2f8b8de","name":"link out 3","mode":"link","links":["1659c4e3d3cebdf5"],"x":335,"y":2560,"wires":[]},{"id":"10da9c3107cc3bbb","type":"function","z":"826b42c4a2f8b8de","name":"function 1","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Tamanho do Array\nvar tamanho = array.length;\n\nif(tamanho == 10)\n{\n    // Extrai o segundo elemento (índice 1) \n    var freqAjustada = array[1];\n\n    // Define o payload como o terceiro elemento\n    msg.payload = parseFloat((freqAjustada / 10).toFixed(1));\n\n    // Retorna a mensagem \n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":100,"wires":[["9ad1bcbc62ab580c","2cada521ab50aee4"]]},{"id":"9ad1bcbc62ab580c","type":"debug","z":"826b42c4a2f8b8de","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]},{"id":"7a535fa55436fe7d","type":"ui_gauge","z":"826b42c4a2f8b8de","name":"","group":"3be4727da78c4506","order":2,"width":9,"height":3,"gtype":"gage","title":"Freq. Saída","label":"Saída -  Hz","format":"{{value}}","min":0,"max":"60","colors":["#1dfa00","#1dfa00","#1dfa00"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":260,"wires":[]},{"id":"263d33a8f319a184","type":"function","z":"826b42c4a2f8b8de","name":"function 2","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o terceiro elemento (índice 2) \nvar freqSaida = array[2]; \n\n// Define o payload como o terceiro elemento\nmsg.payload = parseFloat((freqSaida / 10).toFixed(1)); \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["f2566e0ec3bc7c58","7a535fa55436fe7d"]]},{"id":"b9129b361db752fb","type":"link out","z":"826b42c4a2f8b8de","name":"link out 4","mode":"link","links":["2aab08000d5f9c78"],"x":275,"y":2360,"wires":[]},{"id":"6589e5607861ce7e","type":"function","z":"826b42c4a2f8b8de","name":"function 3","func":"var freqAjustada = msg.payload;\n\n// Define o payload como valor numerico\nmsg.payload = parseFloat((freqAjustada / 10).toFixed(1)); \n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":2320,"wires":[["104d8fa19d9d5fb8"]]},{"id":"11d4354e94f59d42","type":"function","z":"826b42c4a2f8b8de","name":"function 4","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o quarto elemento (índice 4) \nvar rpm = array[4]; \n\n// Define o payload como o quarto elemento\nmsg.payload = rpm;\n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":380,"wires":[["070f95dedfd49692","94e55918ccad7969"]]},{"id":"bf62072f0b744154","type":"function","z":"826b42c4a2f8b8de","name":"function 5","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o quinto elemento (índice 5) \nvar tensaoDc = array[5]; \n\n// Define o payload como o quinto elemento\nmsg.payload = parseFloat((tensaoDc / 10).toFixed(1)); \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["bf3bfc6247bd1c41"]]},{"id":"be8243e5004977c5","type":"function","z":"826b42c4a2f8b8de","name":"function 6","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o terceiro elemento (índice 3) \nvar correnteSaida = array[3]; \n\n// Define o payload como o terceiro elemento\nmsg.payload = parseFloat((correnteSaida / 10).toFixed(1)); \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["7edabaf64fb3d36f"]]},{"id":"8aba82d91819cb34","type":"function","z":"826b42c4a2f8b8de","name":"function 7","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o nono elemento (índice 9) \nvar tensaoSaida = array[9]; \n\n// Define o payload como o nono elemento\nmsg.payload = tensaoSaida; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":540,"wires":[["cf6cf781075f296c"]]},{"id":"036cc8750be66286","type":"link in","z":"826b42c4a2f8b8de","name":"link in 5","links":["d89bbf5c16947add"],"x":255,"y":660,"wires":[["15b087ecf4d4b3b7"]]},{"id":"f6534466eac98986","type":"link in","z":"826b42c4a2f8b8de","name":"link in 6","links":["ea965017c1c52a7e"],"x":255,"y":600,"wires":[["5ef75e800ff38541"]]},{"id":"d191ad1d9f6e2f1d","type":"link out","z":"826b42c4a2f8b8de","name":"link out 7","mode":"link","links":["6935d98649e89c18"],"x":335,"y":2620,"wires":[]},{"id":"5ef75e800ff38541","type":"function","z":"826b42c4a2f8b8de","name":"function 8","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o primeiro elemento (índice 0) \nvar potenciaSaida = array[0]; \n\n// Define o payload como o nono elemento\nmsg.payload = potenciaSaida; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":600,"wires":[["45680b81cfe3f71a"]]},{"id":"15b087ecf4d4b3b7","type":"function","z":"826b42c4a2f8b8de","name":"function 9","func":"// Optionally, you can retrieve the global variable\n//var myValue = global.get(\"statusInversor\");\n\n// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o primeiro elemento (índice 0) \n// 0 = STOP\n// 1 = RUN\nvar sentido = array[0]; \n\n// Extrai o segundo elemento (índice 1) \n// 0 = FWD\n// 1 = REV\nvar status = array[1]; \n\n// Define a global variable\nglobal.set(\"statusInversor\", status);\nglobal.set(\"sentidoRotacaoInversor\", sentido);\n\n// Define o payload\nmsg.payload = status; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":660,"wires":[["33389517be3616b6"]]},{"id":"0bb6c81567df1f77","type":"function","z":"826b42c4a2f8b8de","name":"get: StatusInversor","func":"// Optionally, you can retrieve the global variable\nvar myValue = global.get(\"statusInversor\");\n\nmsg.payload = myValue;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":2440,"wires":[["88ddd42b40fcd41a","2109a004e5973664","8668aad993c5e472","4764474394bf328a"]]},{"id":"b1442b878851c277","type":"link in","z":"826b42c4a2f8b8de","name":"link in 8","links":["f9110f38679bd91c"],"x":325,"y":2440,"wires":[["0bb6c81567df1f77","34eeba27f237b42c"]]},{"id":"727c593aa063dd8c","type":"link out","z":"826b42c4a2f8b8de","name":"link out 10","mode":"link","links":["22a7b43e39850cbe"],"x":285,"y":2760,"wires":[]},{"id":"98ac4371bc75ddad","type":"link out","z":"826b42c4a2f8b8de","name":"link out 11","mode":"link","links":["4ba628605769bf1a"],"x":285,"y":2700,"wires":[]},{"id":"60fbd5b5b35a86a8","type":"link out","z":"826b42c4a2f8b8de","name":"link out 12","mode":"link","links":["ac09f9ed162863e8"],"x":365,"y":2820,"wires":[]},{"id":"34eeba27f237b42c","type":"function","z":"826b42c4a2f8b8de","name":"get: sentidoRotacaoInversor","func":"// Optionally, you can retrieve the global variable\nvar myValue = global.get(\"sentidoRotacaoInversor\");\n\nmsg.payload = myValue;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2740,"wires":[[]]},{"id":"00ecb43d99163f0b","type":"link in","z":"826b42c4a2f8b8de","name":"link in 13","links":["b843c24182380353"],"x":295,"y":840,"wires":[["06b17b908ca05904","b45279119cf15003","d475f9c0593688ac","68b3a6d3326c9d4f","17d2d44ef43faf6b","ca820fef01b8c92e","8c0bbc974b7f6cbc","b359e42f3299ea76","39b8426d88e79d56","04d184a3f2f40d7a","f304dec4b203d85f","3289b20a711479db"]]},{"id":"06b17b908ca05904","type":"function","z":"826b42c4a2f8b8de","name":"bit - 0","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o primeiro elemento (índice 0) \nvar bit0 = array[0]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit0; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":840,"wires":[["2c05d67acaa12e6a","aee2f1b577a1e55f"]]},{"id":"b45279119cf15003","type":"function","z":"826b42c4a2f8b8de","name":"bit - 1","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o segundo elemento (índice 1) \nvar bit1 = array[1]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit1; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":960,"wires":[["f456ad71df3a20ca","3b6e42043504efc1"]]},{"id":"d475f9c0593688ac","type":"function","z":"826b42c4a2f8b8de","name":"bit - 2","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o terceiro elemento (índice 2) \nvar bit2 = array[2]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit2; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1080,"wires":[["cf6ba2abf6999683","2a860eb2adbcd7d4"]]},{"id":"68b3a6d3326c9d4f","type":"function","z":"826b42c4a2f8b8de","name":"bit - 3","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o quarto elemento (índice 3) \nvar bit3 = array[3]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit3; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1180,"wires":[["858b525085337d60","55db024227e926b0"]]},{"id":"17d2d44ef43faf6b","type":"function","z":"826b42c4a2f8b8de","name":"bit - 6","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do indice\nvar bit6 = array[6]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit6; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1480,"wires":[["1683ed9805012eba"]]},{"id":"aee2f1b577a1e55f","type":"ui_led","z":"826b42c4a2f8b8de","order":2,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":880,"wires":[]},{"id":"3b6e42043504efc1","type":"ui_led","z":"826b42c4a2f8b8de","order":4,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1000,"wires":[]},{"id":"2a860eb2adbcd7d4","type":"ui_led","z":"826b42c4a2f8b8de","order":26,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1120,"wires":[]},{"id":"55db024227e926b0","type":"ui_led","z":"826b42c4a2f8b8de","order":24,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1220,"wires":[]},{"id":"fe91d2aea0df794c","type":"ui_led","z":"826b42c4a2f8b8de","order":6,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1320,"wires":[]},{"id":"ca820fef01b8c92e","type":"function","z":"826b42c4a2f8b8de","name":"bit - 4","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit4 = array[4]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit4; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1280,"wires":[["34dda6992d9f3d82","fe91d2aea0df794c"]]},{"id":"45db1eb87a104991","type":"ui_led","z":"826b42c4a2f8b8de","order":8,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1420,"wires":[]},{"id":"9f7c36bc97630d38","type":"ui_led","z":"826b42c4a2f8b8de","order":10,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1520,"wires":[]},{"id":"fd2e3a907fe2210a","type":"ui_led","z":"826b42c4a2f8b8de","order":12,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1620,"wires":[]},{"id":"50e2e1a0c10cc063","type":"ui_led","z":"826b42c4a2f8b8de","order":14,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1720,"wires":[]},{"id":"5cdc029ae8d86c1b","type":"ui_led","z":"826b42c4a2f8b8de","order":16,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1820,"wires":[]},{"id":"d050eb4e4c27b34a","type":"ui_led","z":"826b42c4a2f8b8de","order":18,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":1920,"wires":[]},{"id":"d4654f4cf6e35dce","type":"ui_led","z":"826b42c4a2f8b8de","order":20,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":2020,"wires":[]},{"id":"661b9bbb6d9c7d3a","type":"ui_led","z":"826b42c4a2f8b8de","order":22,"group":"44fb122a642cfe6d","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#808080","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":630,"y":2120,"wires":[]},{"id":"8c0bbc974b7f6cbc","type":"function","z":"826b42c4a2f8b8de","name":"bit - 5","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit5 = array[5]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit5; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1380,"wires":[["763dbea268de815e","45db1eb87a104991"]]},{"id":"39b8426d88e79d56","type":"function","z":"826b42c4a2f8b8de","name":"bit - 7","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit7 = array[7]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit7; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1580,"wires":[["d92c517e7e63cee6","fd2e3a907fe2210a"]]},{"id":"04d184a3f2f40d7a","type":"function","z":"826b42c4a2f8b8de","name":"bit - 8","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit8 = array[8]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit8; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1680,"wires":[["22d6a55af5c27351","50e2e1a0c10cc063"]]},{"id":"f304dec4b203d85f","type":"function","z":"826b42c4a2f8b8de","name":"bit - 9","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit9 = array[9]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit9; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1780,"wires":[["ed3bb0fa67f6e973","5cdc029ae8d86c1b"]]},{"id":"3289b20a711479db","type":"function","z":"826b42c4a2f8b8de","name":"bit - 10","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit10 = array[10]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit10; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1880,"wires":[["efa8aa2e6f9f1cea","d050eb4e4c27b34a"]]},{"id":"b359e42f3299ea76","type":"function","z":"826b42c4a2f8b8de","name":"bit - 15","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o elemento do vetor\nvar bit15 = array[15]; \n\n// Define o payload como o nono elemento\nmsg.payload = bit15; \n\n// Retorna a mensagem \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2080,"wires":[["0d61f893ad3169a3","661b9bbb6d9c7d3a"]]},{"id":"d84ab17beb7247c4","type":"comment","z":"7f4f4fa5fa5df083","name":"Remote Red - Mobile App","info":"","x":150,"y":40,"wires":[]},{"id":"595fbf890b57068e","type":"remote-access","z":"7f4f4fa5fa5df083","d":true,"confignode":"ae28f0905b4ad31a","name":"","verbose":0,"x":200,"y":100,"wires":[[],[]]},{"id":"d164ae0a3dc4f6ab","type":"comment","z":"9371beaac082029b","name":"Read Register (FC:3) - Modbus RTU (Buffered) - RS485","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":220,"y":40,"wires":[]},{"id":"b9ec924d71f37f4c","type":"inject","z":"9371beaac082029b","name":"","props":[{"p":"topic","v":"true","vt":"bool"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":140,"wires":[["7850db1abda39d78"]]},{"id":"6e031cb8ec16d453","type":"comment","z":"9371beaac082029b","name":"Polling Rate (1000ms)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":160,"y":100,"wires":[]},{"id":"7850db1abda39d78","type":"ui_switch","z":"9371beaac082029b","name":"","label":"Comunicação","tooltip":"","group":"52e687c73a14dfa3","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":220,"y":200,"wires":[["4a05562b8ec4768a"]]},{"id":"4a05562b8ec4768a","type":"function","z":"9371beaac082029b","name":"Habilita controle IF20","func":"if(msg.payload)\n{\n    global.set('controleIF10', false);\n    global.set('controleIF20', true);\n    global.set('controleIF30', false);\n}\nelse\n{\n    global.set('controleIF20', false)\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["08bbeb8fc3513b01"]]},{"id":"08bbeb8fc3513b01","type":"switch","z":"9371beaac082029b","name":"Se global.controleIF20 == true","property":"controleIF20","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":260,"wires":[["53184d3fcb584015"]]},{"id":"0bc45f42fc93680b","type":"comment","z":"9371beaac082029b","name":"Tipo de Controle (Escalar ou Vetorial)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":210,"y":340,"wires":[]},{"id":"fc8e433c5365e8dd","type":"comment","z":"9371beaac082029b","name":"FC:3 (P0.12 @F00C - Frequência Máxima)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":220,"y":480,"wires":[]},{"id":"9805c6d420d7d7ec","type":"function","z":"9371beaac082029b","name":"FC:3 (F00Ch)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0xF00C, // F00Ch (base 16) sem offset de inicio zero\n'quantity': 1 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":520,"wires":[["47f332f917c0e849"]]},{"id":"47f332f917c0e849","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":520,"wires":[["c9fbec3c8e7b08e6","c0e7db6680b5a73d"],[]]},{"id":"53184d3fcb584015","type":"function","z":"9371beaac082029b","name":"FC:3 (F001h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 61441, // F001h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":400,"wires":[["e1431f9f6d00cae1"]]},{"id":"e1431f9f6d00cae1","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":400,"wires":[["baba992b5fa2649e","9805c6d420d7d7ec"],[]]},{"id":"baba992b5fa2649e","type":"link out","z":"9371beaac082029b","name":"link out 14","mode":"link","links":["fa500048a899435c"],"x":595,"y":380,"wires":[]},{"id":"c9fbec3c8e7b08e6","type":"link out","z":"9371beaac082029b","name":"link out 15","mode":"link","links":["b591eabd78a6d877"],"x":595,"y":500,"wires":[]},{"id":"73f15bbae10a011d","type":"comment","z":"9371beaac082029b","name":"Write Single Register (FC:6) - Modbus RTU (Buffered) - RS485","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":250,"y":3060,"wires":[]},{"id":"146e95e365e56fc8","type":"comment","z":"9371beaac082029b","name":"Tipo de Controle (Escalar ou Vetorial)","info":"","x":230,"y":3120,"wires":[]},{"id":"a051dacdf4d056a8","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0xF001","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":300,"y":3180,"wires":[["8067f7491c6eb58f"],[]]},{"id":"8067f7491c6eb58f","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":3180,"wires":[]},{"id":"2c40191578a1baf3","type":"link in","z":"9371beaac082029b","name":"link in 16","links":["8e2ebdc7221f24a3"],"x":175,"y":3180,"wires":[["a051dacdf4d056a8"]]},{"id":"2177ce621523281e","type":"comment","z":"9371beaac082029b","name":"Freq. Ajustada (SP) @1000h","info":"","x":200,"y":3280,"wires":[]},{"id":"0a3feb67edf723f6","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0x1000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":300,"y":3400,"wires":[["f8f3a057537760f0"],[]]},{"id":"f8f3a057537760f0","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":3400,"wires":[]},{"id":"642bb937acc04feb","type":"link in","z":"9371beaac082029b","name":"link in 17","links":["55922c3c94b52ac3"],"x":175,"y":3340,"wires":[["2932559971b49921"]]},{"id":"42b723347badab39","type":"debug","z":"9371beaac082029b","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":3340,"wires":[]},{"id":"2932559971b49921","type":"function","z":"9371beaac082029b","name":"Converte decimal negativo para int16 (word)","func":"// Se o valor for NEGATIVO\nif(msg.payload < 0)\n{\n    msg.payload = 65536 + msg.payload;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":3340,"wires":[["42b723347badab39","0a3feb67edf723f6"]]},{"id":"c0e7db6680b5a73d","type":"function","z":"9371beaac082029b","name":"FC:3 (F00Eh)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0xF00E, // F00Eh (base 16) sem offset de inicio zero\n'quantity': 1 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":640,"wires":[["f019ce055bc83921"]]},{"id":"f019ce055bc83921","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":640,"wires":[["c33e900ba92d42fe","6c41624885d3e524"],[]]},{"id":"5ffab8488719259d","type":"comment","z":"9371beaac082029b","name":"FC:3 (P0.14 @F00E - Freq. de Limite Superior)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":240,"y":600,"wires":[]},{"id":"c33e900ba92d42fe","type":"function","z":"9371beaac082029b","name":"function 14","func":"var array = msg.payload;\n\nglobal.set('freqLimSupIF20', array[0] / 100);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":640,"wires":[[]]},{"id":"e03374365cd26c8c","type":"comment","z":"9371beaac082029b","name":"FC:3 (@3000h - Status do Inversor)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":720,"wires":[]},{"id":"6c41624885d3e524","type":"function","z":"9371beaac082029b","name":"FC:3 (3000h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x3000, // 3000h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":760,"wires":[["af57f5ba625eb2ff"]]},{"id":"af57f5ba625eb2ff","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":760,"wires":[["3851e65e850ac12d","9a93a5bd278089c0"],[]]},{"id":"3851e65e850ac12d","type":"function","z":"9371beaac082029b","name":"Obtem status IF20","func":"var array = msg.payload;\n\nglobal.set('statusIF20', array[0]);\n\nmsg.payload = array[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":760,"wires":[["ceb79c549ebed9d5"]]},{"id":"d9cc79853ab8438a","type":"comment","z":"9371beaac082029b","name":"FWD - Avanço @2000h (1 decimal)","info":"","x":220,"y":3480,"wires":[]},{"id":"72e430d86f8a7a06","type":"comment","z":"9371beaac082029b","name":"REV - Reverso @2000h (2 decimal)","info":"","x":220,"y":3600,"wires":[]},{"id":"5617873ccd200873","type":"comment","z":"9371beaac082029b","name":"STOP - Parada @2000h (6 decimal)","info":"","x":220,"y":3720,"wires":[]},{"id":"8ae51f259b4e592d","type":"link in","z":"9371beaac082029b","name":"link in 18","links":["1f7e93ad2788f6b9"],"x":175,"y":3780,"wires":[["f5f884b76c2ce262"]]},{"id":"f5f884b76c2ce262","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":320,"y":3780,"wires":[["abe01ef579856938"],[]]},{"id":"abe01ef579856938","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":3780,"wires":[]},{"id":"b469fcaa8f1aa679","type":"link in","z":"9371beaac082029b","name":"link in 19","links":["ee6d11f62adc5609"],"x":175,"y":3540,"wires":[["202e28acd6549f2b"]]},{"id":"202e28acd6549f2b","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":320,"y":3540,"wires":[["aaaa9a2cd91f5f65"],[]]},{"id":"aaaa9a2cd91f5f65","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":3540,"wires":[]},{"id":"d6e803fe5dd40f58","type":"link in","z":"9371beaac082029b","name":"link in 20","links":["b0165cc6b69390fa"],"x":175,"y":3660,"wires":[["ccc26860131208c2"]]},{"id":"ccc26860131208c2","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":320,"y":3660,"wires":[["0b5e8111fb826900"],[]]},{"id":"0b5e8111fb826900","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":3660,"wires":[]},{"id":"ceb79c549ebed9d5","type":"link out","z":"9371beaac082029b","name":"link out 22","mode":"link","links":["d14021092a9f7637","2275fd0c7ba7be87","925280cd0033af4f"],"x":805,"y":760,"wires":[]},{"id":"a7f19ad6d1e87fcc","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1001h - Freq. de Operação)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":840,"wires":[]},{"id":"9a93a5bd278089c0","type":"function","z":"9371beaac082029b","name":"FC:3 (3000h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x1001, // 1001h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":880,"wires":[["1a917ed7e26dd378"]]},{"id":"1a917ed7e26dd378","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":880,"wires":[["c7c7d91ce961d5a3","0999f5d0b6e26005"],[]]},{"id":"c7c7d91ce961d5a3","type":"function","z":"9371beaac082029b","name":"Obtem Freq. de Operacao","func":"var array = msg.payload;\n\nmsg.payload = array[0] / 100;\n\nmsg.topic = 'Freq. de Saída';\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":880,"wires":[["d81b9057763c6fae"]]},{"id":"d81b9057763c6fae","type":"link out","z":"9371beaac082029b","name":"link out 23","mode":"link","links":["a489bdf798b0059a"],"x":785,"y":940,"wires":[]},{"id":"33277dc59a8325c3","type":"comment","z":"9371beaac082029b","name":"JOG - Sintonia Lenta @2000h (4 decimal)","info":"","x":240,"y":3860,"wires":[]},{"id":"fa80be8cca0bc201","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":320,"y":3920,"wires":[["c5f4845493f849b5"],[]]},{"id":"c5f4845493f849b5","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":3920,"wires":[]},{"id":"6bf93c1d87510700","type":"link in","z":"9371beaac082029b","name":"link in 25","links":["f6946a47a04eebe9"],"x":175,"y":3920,"wires":[["fa80be8cca0bc201"]]},{"id":"8d2e4382e406ee41","type":"comment","z":"9371beaac082029b","name":"RESET - Reset de Falha @2000h (7 decimal)","info":"","x":250,"y":3980,"wires":[]},{"id":"a8e144c810b2991d","type":"modbus-write","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"2","dataType":"HoldingRegister","adr":"0x2000","quantity":"1","server":"b7042f7af5a73fcd","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":320,"y":4040,"wires":[["27e420b422e73472"],[]]},{"id":"27e420b422e73472","type":"modbus-response","z":"9371beaac082029b","name":"","registerShowMax":20,"x":530,"y":4040,"wires":[]},{"id":"9eb1235b8e43c4b0","type":"link in","z":"9371beaac082029b","name":"link in 26","links":["aeeb04f6190ac44a"],"x":175,"y":4040,"wires":[["a8e144c810b2991d"]]},{"id":"700e882eae37dc9e","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1003 - Tensão de Saída)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":190,"y":960,"wires":[]},{"id":"127dfbad4334693c","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":1000,"wires":[["7de8aad84cab62c2","c5a6f19159afe089"],[]]},{"id":"0999f5d0b6e26005","type":"function","z":"9371beaac082029b","name":"FC:3 (1003h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x1003, // 1003h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\n\nmsg.topic = 'Tensão de Saída';\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1000,"wires":[["127dfbad4334693c"]]},{"id":"7de8aad84cab62c2","type":"function","z":"9371beaac082029b","name":"Obtem Tensão de Saída","func":"var array = msg.payload;\n\nmsg.payload = array[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1000,"wires":[["f27880f8fac75ddd"]]},{"id":"f27880f8fac75ddd","type":"link out","z":"9371beaac082029b","name":"link out 26","mode":"link","links":["ef25405345c7d40c"],"x":785,"y":1060,"wires":[]},{"id":"4f65c22a3a44c1e5","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1004 - Corrente de Saída)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":1080,"wires":[]},{"id":"d34c32a953727812","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1005 - Potência de Saída)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":1320,"wires":[]},{"id":"9bde61c94fa5dcf8","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1006 - Torque de Saída)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":190,"y":1440,"wires":[]},{"id":"ef854a814c478d83","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1007 - Velocidade de Funcionamento)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":230,"y":1200,"wires":[]},{"id":"4bc1b1db986231af","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1008 - Entradas S)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":180,"y":1920,"wires":[]},{"id":"7e76d27e331eacf5","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1009 - Saída M01)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":170,"y":1960,"wires":[]},{"id":"770b159dc9d9aa6b","type":"comment","z":"9371beaac082029b","name":"FC:3 (@100A - Tensão FIV)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":180,"y":2000,"wires":[]},{"id":"9fec78f385caacc5","type":"comment","z":"9371beaac082029b","name":"FC:3 (@100B - Tensão FIC)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":180,"y":2040,"wires":[]},{"id":"90a02908f56bf43a","type":"comment","z":"9371beaac082029b","name":"FC:3 (@100D - Entrada de Contagem)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":210,"y":2080,"wires":[]},{"id":"5375391863a310fe","type":"comment","z":"9371beaac082029b","name":"FC:3 (@100E - Entrada de Comprimento)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":220,"y":2120,"wires":[]},{"id":"b5f4b3b3b02f3bfc","type":"comment","z":"9371beaac082029b","name":"FC:3 (@100F - Velocidade da Carga)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":210,"y":1880,"wires":[]},{"id":"f831ab854f0b0763","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1010 - Configuração PID)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":2180,"wires":[]},{"id":"cfd394bea32a3373","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1011 - Retorno PID)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":180,"y":2220,"wires":[]},{"id":"f236bb9d1ee9c5fa","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1012 - Passos CLP)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":180,"y":2260,"wires":[]},{"id":"5f969ef8ca4aa83e","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1013 - Entrada de Freq. 0.01kHz)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":220,"y":2300,"wires":[]},{"id":"caa2ecd1676fbca5","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1015 - Tempo de Operação Restante)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":230,"y":2340,"wires":[]},{"id":"357b6c75804d97f9","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1016 - FIV antes da correção de Tensão)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":240,"y":2380,"wires":[]},{"id":"62d0af5aefdb61ae","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1017 - FIC antes da correção de Tensão)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":240,"y":2420,"wires":[]},{"id":"d461beef9fdc4fe4","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1019 - Velocidade Linear)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":200,"y":1840,"wires":[]},{"id":"a61c3890b459bf80","type":"comment","z":"9371beaac082029b","name":"FC:3 (@101A - Atual Tempo em Energização)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":230,"y":2460,"wires":[]},{"id":"428c8c13d026e79e","type":"comment","z":"9371beaac082029b","name":"FC:3 (@101B - Atual Tempo de Operação)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":220,"y":2500,"wires":[]},{"id":"ef4a271505a8ceba","type":"comment","z":"9371beaac082029b","name":"FC:3 (@101C - Entrada de Freq. 1Hz)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":210,"y":2540,"wires":[]},{"id":"4c8ee3f208cf9ab4","type":"comment","z":"9371beaac082029b","name":"FC:3 (@101D - Configuração de Comunicação)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":240,"y":2580,"wires":[]},{"id":"49422dc4c98ecaa2","type":"comment","z":"9371beaac082029b","name":"FC:3 (@101F - Freq. Principal X)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":190,"y":2620,"wires":[]},{"id":"e4d907fe5ce4ef89","type":"comment","z":"9371beaac082029b","name":"FC:3 (@1020 - Freq. Auxiliar Y)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":190,"y":2660,"wires":[]},{"id":"dcbda27ecb8bc97b","type":"comment","z":"9371beaac082029b","name":"Descrição de Falha do Inversor","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":190,"y":2740,"wires":[]},{"id":"30f49205c55e69f4","type":"comment","z":"9371beaac082029b","name":"FC:3 (@8000h - Descrição de Falha do Inversor)","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":280,"y":2780,"wires":[]},{"id":"c5a6f19159afe089","type":"function","z":"9371beaac082029b","name":"FC:3 (1004h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x1004, // 1004h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\n\nmsg.topic = 'Corrente de Saída';\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1120,"wires":[["e304967bced2aaaa"]]},{"id":"e304967bced2aaaa","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":1120,"wires":[["ec929952425ef244","d9fe7dafd56a0f80"],[]]},{"id":"ec929952425ef244","type":"function","z":"9371beaac082029b","name":"Obtem Corrente de Saída","func":"var array = msg.payload;\n\nmsg.payload = array[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1120,"wires":[["0ec7098cf3e7068d"]]},{"id":"d9fe7dafd56a0f80","type":"function","z":"9371beaac082029b","name":"FC:3 (1007h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x1007, // 1007h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\n\nmsg.topic = 'Velocidade de Funcionamento';\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1240,"wires":[["f3464baf832de7f0"]]},{"id":"f3464baf832de7f0","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":1240,"wires":[["02461bd78e6ac7bd","31e4343b03c9f9b4"],[]]},{"id":"02461bd78e6ac7bd","type":"function","z":"9371beaac082029b","name":"Obtem Velocidade de Funcionamento","func":"var array = msg.payload;\n\nmsg.payload = array[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1240,"wires":[["32f1b87cc42c002a"]]},{"id":"63dbcbe446429635","type":"function","z":"9371beaac082029b","name":"FC:3 (8000h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x8000, // 8000h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\n\nmsg.topic = 'Falhas Inversor';\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":2840,"wires":[["717a89890919539e"]]},{"id":"717a89890919539e","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":450,"y":2840,"wires":[["b2407e66f90a751c"],[]]},{"id":"b2407e66f90a751c","type":"function","z":"9371beaac082029b","name":"Obtem Código de Falha do Inversor","func":"var array = msg.payload;\n\nmsg.payload = array[0];\n\nswitch(array[0])\n{\n    case 0x00: \n        msg.payload = 'Sem falha';\n        break;\n\n    case 0x02:\n        msg.payload = 'sobrecorrente na aceleração';\n        break;\n\n    case 0x03:\n        msg.payload = 'sobrecorrente na desaceleração';\n        break;\n\n    case 0x04:\n        msg.payload = 'sobrecorrente em velocidade constante';\n        break;\n\n    case 0x05:\n        msg.payload = 'sobretensão na aceleração ';\n        break;\n\n    case 0x06:\n        msg.payload = 'sobretensão na desaceleração ';\n        break;\n\n    case 0x07:\n        msg.payload = 'sobretensão em velocidade constante ';\n        break;\n    \n    case 0x08:\n        msg.payload = 'falha de sobrecarga na resistência';\n        break;\n\n    case 0x09:\n        msg.payload = 'subtensão';\n        break;\n\n    case 0x0A:\n        msg.payload = 'sobrecarga no inversor';\n        break;\n\n    case 0x0B:\n        msg.payload = 'sobrecarga no motor';\n        break;\n\n    case 0x0C:\n        msg.payload = 'falha na fase de entrada';\n        break;\n\n    case 0x0D:\n        msg.payload = 'falha na fase de saída';\n        break;\n\n    case 0x0E:\n        msg.payload = 'superaquecimento';\n        break;\n\n    case 0x0F:\n        msg.payload = 'falha externa';\n        break;\n\n    case 0x10:\n        msg.payload = 'comunicação anormal';\n        break;\n\n    case 0x11:\n        msg.payload = 'contator anormal';\n        break;\n\n    case 0x12:\n        msg.payload = 'falha de detecção de corrente';\n        break;\n\n    case 0x13:\n        msg.payload = 'falha de sintonia do motor (auto-tuning)';\n        break;\n\n    case 0x15:\n        msg.payload = 'parâmetros anormais (leitura e escrita)';\n        break;\n\n    case 0x16:\n        msg.payload = 'falha de hardware do inversor';\n        break;\n\n    case 0x17:\n        msg.payload = 'curto-circuito no motor';\n        break;\n\n    case 0x18:\n        msg.payload = 'falha 1 definida pelo usuário';\n        break;\n\n    case 0x19:\n        msg.payload = 'falha 2 definida pelo usuário';\n        break;\n\n    case 0x1A:\n        msg.payload = 'tempo de operação atingido';\n        break;\n        \n    case 0x1D:\n        msg.payload = 'tempo acumulativo de energização atingido';\n        break;\n\n    case 0x1E:\n        msg.payload = 'perda da carga';\n        break;\n\n    case 0x1F:\n        msg.payload = 'retorno do PID perdido';\n        break;\n\n    case 0x28:\n        msg.payload = 'falha do limite de corrente';\n        break;\n\n    case 0x29:\n        msg.payload = 'falha de mudança de motor';\n        break;\n\n    case 0x2A:\n        msg.payload = 'desvio da velocidade muito grande';\n        break;\n\n    case 0x2B:\n        msg.payload = 'sobre velocidade do motor';\n        break;\n\n    case 0x2D:\n        msg.payload = 'sobreaquecimento do motor';\n        break;\n\n    case 0x5A:\n        msg.payload = 'erro de configuração do encoder';\n        break;\n\n    case 0x5B:\n        msg.payload = 'encoder não conectado';\n        break;\n\n    case 0x5C:\n        msg.payload = 'falha de posição inicial';\n        break;\n\n    case 0x5E:\n        msg.payload = 'erro de velocidade de retorno';\n        break;\n\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2840,"wires":[["bf6b0aa3bcd81fe8"]]},{"id":"32f1b87cc42c002a","type":"link out","z":"9371beaac082029b","name":"link out 27","mode":"link","links":["48978f0272a8f042"],"x":795,"y":1300,"wires":[]},{"id":"bf6b0aa3bcd81fe8","type":"link out","z":"9371beaac082029b","name":"link out 28","mode":"link","links":["9da4c529be24257e"],"x":795,"y":2900,"wires":[]},{"id":"0ec7098cf3e7068d","type":"link out","z":"9371beaac082029b","name":"link out 29","mode":"link","links":["c54d61c05b88a540"],"x":795,"y":1180,"wires":[]},{"id":"31e4343b03c9f9b4","type":"function","z":"9371beaac082029b","name":"FC:3 (1005h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x1005, // 1005h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\n\nmsg.topic = 'Potência de Funcionamento';\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1360,"wires":[["f41eaca974315d2f"]]},{"id":"f41eaca974315d2f","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":1360,"wires":[["468db01acece5924","61d58d1114f6d17c"],[]]},{"id":"468db01acece5924","type":"function","z":"9371beaac082029b","name":"Obtem Potência de Saída","func":"var array = msg.payload;\n\nmsg.payload = array[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1360,"wires":[["e79ddc27cc038d4e"]]},{"id":"61d58d1114f6d17c","type":"function","z":"9371beaac082029b","name":"FC:3 (1006h)","func":"msg.payload = {\n'fc': 3,\n'unitid': 2,\n'address': 0x1006, // 1006h (base 16) sem offset de inicio zero\n'quantity': 1 } ;\n\nmsg.topic = 'Torque de Saída';\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1480,"wires":[["93627e1d965cddd9"]]},{"id":"93627e1d965cddd9","type":"modbus-flex-getter","z":"9371beaac082029b","name":"","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"server":"b7042f7af5a73fcd","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":430,"y":1480,"wires":[["cbe7ed2aec619092","63dbcbe446429635"],[]]},{"id":"cbe7ed2aec619092","type":"function","z":"9371beaac082029b","name":"Obtem Torque de Saída","func":"var array = msg.payload;\n\nmsg.payload = array[0];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1480,"wires":[[]]},{"id":"e79ddc27cc038d4e","type":"debug","z":"9371beaac082029b","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":1420,"wires":[]},{"id":"5ead5c7df3a51335","type":"comment","z":"99f5c956fd30274b","name":"IF20 - Controles","info":"","x":120,"y":40,"wires":[]},{"id":"a575a271f57f7f0d","type":"ui_numeric","z":"99f5c956fd30274b","name":"","label":"ID","tooltip":"","group":"52e687c73a14dfa3","order":1,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"249","step":1,"className":"","x":290,"y":140,"wires":[["baba2eca7fa2b1c0"]]},{"id":"8b0f39b7d73682ed","type":"ui_text","z":"99f5c956fd30274b","group":"52e687c73a14dfa3","order":6,"width":7,"height":1,"name":"","label":"Freq. ajustada (SP):","format":"{{msg.payload}} Hz","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":860,"wires":[]},{"id":"1045305a2a65f6a9","type":"ui_slider","z":"99f5c956fd30274b","name":"","label":"","tooltip":"","group":"52e687c73a14dfa3","order":7,"width":4,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"-10000","max":"10000","step":1,"className":"","x":370,"y":780,"wires":[["526035bbccf77451"]]},{"id":"8720d7d5e8430abb","type":"ui_artlessgauge2","z":"99f5c956fd30274b","group":"52e687c73a14dfa3","order":3,"width":5,"height":5,"name":"","icon":"","label":"Freq. Saída","unit":"Hz","layout":"radial","decimals":"2","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":true,"animate":true,"log2":false,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":70,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":360,"y":580,"wires":[]},{"id":"97e6f7757c6903b4","type":"ui_text_input","z":"99f5c956fd30274b","name":"","label":"","tooltip":"","group":"52e687c73a14dfa3","order":8,"width":3,"height":1,"passthru":true,"mode":"number","delay":"1000","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":780,"wires":[["1045305a2a65f6a9","7ab7b16e6111d6e7"]]},{"id":"526035bbccf77451","type":"function","z":"99f5c956fd30274b","name":"Escala -10 à 10k","func":"if(msg.payload > 10000)\n{\n    msg.payload = 10000;\n}\n// Somente para valores negativos\nelse if(msg.payload < -10000)\n{\n    msg.payload = -10000;\n}\n\n// Atribui o valor de escala para a variavel 'freqEscalaIF20'\nglobal.set('freqEscalaIF20', msg.payload);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":780,"wires":[["97e6f7757c6903b4","55922c3c94b52ac3"]]},{"id":"d54bb2e52f0ce0b5","type":"comment","z":"99f5c956fd30274b","name":"Slider - Freq. Ajustada (-10.000 à 10.000)","info":"","x":240,"y":720,"wires":[]},{"id":"dae8bb229107aaf1","type":"comment","z":"99f5c956fd30274b","name":"Endereço (ID)","info":"","x":150,"y":100,"wires":[]},{"id":"6769773b9bebd2b2","type":"comment","z":"99f5c956fd30274b","name":"Tipo de Controle (Escalar ou Vetorial)","info":"","x":230,"y":220,"wires":[]},{"id":"ada29ea59b94c172","type":"ui_dropdown","z":"99f5c956fd30274b","name":"","label":"Tipo de Controle:","tooltip":"","place":"","group":"52e687c73a14dfa3","order":5,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Escalar (V/F)","value":0,"type":"num"},{"label":"Vetorial (SFVC)","value":1,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":330,"y":280,"wires":[["8e2ebdc7221f24a3"]]},{"id":"5d131dd40efb1f14","type":"comment","z":"99f5c956fd30274b","name":"Freq. Ajustada (SP)","info":"","x":170,"y":340,"wires":[]},{"id":"8264375b640bcbbc","type":"comment","z":"99f5c956fd30274b","name":"Controles","info":"","x":140,"y":960,"wires":[]},{"id":"bab8d76f9e8567e7","type":"comment","z":"99f5c956fd30274b","name":"Stop","info":"","x":190,"y":1500,"wires":[]},{"id":"bb974c7ded7f99bc","type":"comment","z":"99f5c956fd30274b","name":"FWD","info":"","x":190,"y":1020,"wires":[]},{"id":"190ebeae6964389c","type":"comment","z":"99f5c956fd30274b","name":"REV","info":"","x":190,"y":1220,"wires":[]},{"id":"15b6e2d53dc862a5","type":"comment","z":"99f5c956fd30274b","name":"JOG","info":"","x":190,"y":1660,"wires":[]},{"id":"99c27fc72c91abcc","type":"comment","z":"99f5c956fd30274b","name":"Resetar Alarmes","info":"","x":160,"y":1720,"wires":[]},{"id":"4f4714b708596c68","type":"ui_led","z":"99f5c956fd30274b","order":9,"group":"52e687c73a14dfa3","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00ff00","value":"1","valueType":"num"},{"color":"#808080","value":"2","valueType":"num"},{"color":"#808080","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":490,"y":1140,"wires":[]},{"id":"5f8f9b608f700bda","type":"ui_button","z":"99f5c956fd30274b","name":"","group":"52e687c73a14dfa3","order":10,"width":3,"height":1,"passthru":false,"label":"FWD","tooltip":"","color":"black","bgcolor":"white","className":"","icon":"rotate_right","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":350,"y":1020,"wires":[["628a319128b946a8","ee6d11f62adc5609"]]},{"id":"a82cafae9f1292c3","type":"ui_button","z":"99f5c956fd30274b","name":"","group":"52e687c73a14dfa3","order":13,"width":3,"height":1,"passthru":false,"label":"REV","tooltip":"","color":"black","bgcolor":"white","className":"","icon":"rotate_left","payload":"2","payloadType":"num","topic":"topic","topicType":"msg","x":350,"y":1220,"wires":[["e423df93063585af","b0165cc6b69390fa"]]},{"id":"cab792feae87cc11","type":"ui_button","z":"99f5c956fd30274b","name":"","group":"52e687c73a14dfa3","order":19,"width":6,"height":1,"passthru":false,"label":"STOP","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"stop","payload":"6","payloadType":"num","topic":"topic","topicType":"msg","x":350,"y":1500,"wires":[["1f7e93ad2788f6b9"]]},{"id":"9601aaca23c2a50a","type":"ui_button","z":"99f5c956fd30274b","name":"","group":"52e687c73a14dfa3","order":11,"width":3,"height":1,"passthru":false,"label":"JOG","tooltip":"","color":"white","bgcolor":"blue","className":"","icon":"timelapse","payload":"4","payloadType":"num","topic":"topic","topicType":"msg","x":350,"y":1660,"wires":[["f6946a47a04eebe9"]]},{"id":"a34b9aa052f98fc5","type":"ui_button","z":"99f5c956fd30274b","name":"","group":"52e687c73a14dfa3","order":14,"width":3,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"layers_clear","payload":"7","payloadType":"num","topic":"topic","topicType":"msg","x":350,"y":1720,"wires":[["aeeb04f6190ac44a","e4444f2d0f98801b"]]},{"id":"c4a275abee83b814","type":"ui_led","z":"99f5c956fd30274b","order":12,"group":"52e687c73a14dfa3","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"1","valueType":"num"},{"color":"#00ff00","value":"2","valueType":"num"},{"color":"#808080","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":510,"y":1400,"wires":[]},{"id":"4533bbbc71d1841f","type":"ui_led","z":"99f5c956fd30274b","order":18,"group":"52e687c73a14dfa3","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"1","valueType":"num"},{"color":"#808080","value":"2","valueType":"num"},{"color":"#ffa500","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":470,"y":1560,"wires":[]},{"id":"fa500048a899435c","type":"link in","z":"99f5c956fd30274b","name":"link in 14","links":["baba992b5fa2649e"],"x":185,"y":280,"wires":[["ada29ea59b94c172"]]},{"id":"a9ecf411ef4e3fb4","type":"debug","z":"99f5c956fd30274b","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":700,"wires":[]},{"id":"baba2eca7fa2b1c0","type":"function","z":"99f5c956fd30274b","name":"function 11","func":"//Define o valor para a variavel global 'endereçoIF20'\nglobal.set('enderecoIF20', msg.payload);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[[]]},{"id":"a2093c3b456fdf61","type":"comment","z":"99f5c956fd30274b","name":"Tratar informações do P0.12 @F00C","info":"Configurar o conversor USB/RS-485 \nconforme abaixo:\n\nNome: MSC-1521U\nBits per second: 9600\nData bits: 8\nParity: None\nStop bits: 1\nFlow control: None\n\n==============================\n\nPORT: COM6\nSerial Type: RTU-BUFFERED\nUNIT-ID (Slave ID): 1","x":280,"y":400,"wires":[]},{"id":"b591eabd78a6d877","type":"link in","z":"99f5c956fd30274b","name":"link in 15","links":["c9fbec3c8e7b08e6"],"x":185,"y":460,"wires":[["88812742812d2ac0"]]},{"id":"88812742812d2ac0","type":"function","z":"99f5c956fd30274b","name":"function 12","func":"// Recebe o payload como um array\nvar array = msg.payload; \n\n// Extrai o primeiro elemento (índice 0) \nglobal.set('freqMaxIF20', array[0] / 100);\n\n// Calcular a relação com a frequencia ajustada\nmsg.payload = parseFloat(global.get('freqMaxIF20') * global.get('freqEscalaIF20') / 10000).toFixed(2);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":460,"wires":[["3faf723a4cc5902d"]]},{"id":"8e2ebdc7221f24a3","type":"link out","z":"99f5c956fd30274b","name":"link out 16","mode":"link","links":["2c40191578a1baf3"],"x":475,"y":280,"wires":[]},{"id":"55922c3c94b52ac3","type":"link out","z":"99f5c956fd30274b","name":"link out 17","mode":"link","links":["642bb937acc04feb"],"x":715,"y":780,"wires":[]},{"id":"3faf723a4cc5902d","type":"link out","z":"99f5c956fd30274b","name":"link out 18","mode":"link","links":[],"x":455,"y":460,"wires":[]},{"id":"7ab7b16e6111d6e7","type":"function","z":"99f5c956fd30274b","name":"Exibe Freq. em Hz","func":"var freqAjustada = global.get('freqMaxIF20') * msg.payload / 10000;\n\nmsg.payload = freqAjustada.toFixed(2);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":860,"wires":[["8b0f39b7d73682ed"]]},{"id":"628a319128b946a8","type":"function","z":"99f5c956fd30274b","name":"Converte sinal Negativo para Positivo","func":"msg.payload = global.get('freqEscalaIF20');\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1080,"wires":[["97e6f7757c6903b4"]]},{"id":"e423df93063585af","type":"function","z":"99f5c956fd30274b","name":"Converte sinal Positivo para Negativo","func":"msg.payload = global.get('freqEscalaIF20');\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1340,"wires":[["97e6f7757c6903b4"]]},{"id":"ee6d11f62adc5609","type":"link out","z":"99f5c956fd30274b","name":"link out 19","mode":"link","links":["b469fcaa8f1aa679"],"x":485,"y":1020,"wires":[]},{"id":"1f7e93ad2788f6b9","type":"link out","z":"99f5c956fd30274b","name":"link out 20","mode":"link","links":["8ae51f259b4e592d"],"x":485,"y":1500,"wires":[]},{"id":"b0165cc6b69390fa","type":"link out","z":"99f5c956fd30274b","name":"link out 21","mode":"link","links":["d6e803fe5dd40f58"],"x":495,"y":1300,"wires":[]},{"id":"d14021092a9f7637","type":"link in","z":"99f5c956fd30274b","name":"link in 21","links":["ceb79c549ebed9d5"],"x":345,"y":1560,"wires":[["4533bbbc71d1841f"]]},{"id":"2275fd0c7ba7be87","type":"link in","z":"99f5c956fd30274b","name":"link in 22","links":["ceb79c549ebed9d5"],"x":355,"y":1140,"wires":[["4f4714b708596c68"]]},{"id":"925280cd0033af4f","type":"link in","z":"99f5c956fd30274b","name":"link in 23","links":["ceb79c549ebed9d5"],"x":355,"y":1400,"wires":[["c4a275abee83b814"]]},{"id":"d053b443bc58f26f","type":"comment","z":"99f5c956fd30274b","name":"Freq. de Saída (PV)","info":"","x":170,"y":520,"wires":[]},{"id":"a489bdf798b0059a","type":"link in","z":"99f5c956fd30274b","name":"link in 24","links":["d81b9057763c6fae"],"x":185,"y":580,"wires":[["8720d7d5e8430abb","76832014295fde13"]]},{"id":"f6946a47a04eebe9","type":"link out","z":"99f5c956fd30274b","name":"link out 24","mode":"link","links":["6bf93c1d87510700"],"x":475,"y":1660,"wires":[]},{"id":"aeeb04f6190ac44a","type":"link out","z":"99f5c956fd30274b","name":"link out 25","mode":"link","links":["9eb1235b8e43c4b0"],"x":475,"y":1720,"wires":[]},{"id":"9b38bfc91255d5de","type":"ui_toast","z":"99f5c956fd30274b","position":"bottom left","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":710,"y":1760,"wires":[]},{"id":"e4444f2d0f98801b","type":"function","z":"99f5c956fd30274b","name":"function 15","func":"msg.payload = 'As falhas do IF20 foram resetadas...'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1760,"wires":[["9b38bfc91255d5de"]]},{"id":"76832014295fde13","type":"ui_chart","z":"99f5c956fd30274b","name":"","group":"ce1de8e20efc7ac6","order":1,"width":12,"height":7,"label":"V/F (Escalar)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#00eeff","#0643f9","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":350,"y":620,"wires":[[]]},{"id":"ef25405345c7d40c","type":"link in","z":"99f5c956fd30274b","name":"link in 27","links":["f27880f8fac75ddd"],"x":185,"y":640,"wires":[["76832014295fde13","139f282ed9848dab"]]},{"id":"52d94e87cf37b991","type":"ui_artlessgauge2","z":"99f5c956fd30274b","group":"52e687c73a14dfa3","order":4,"width":5,"height":5,"name":"","icon":"","label":"Velocidade Motor","unit":"r/min","layout":"radial","decimals":"0","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":true,"animate":true,"log2":false,"sectors":[{"val":0,"col":"#ff9900","t":"min","dot":0},{"val":5000,"col":"#ff9900","t":"max","dot":0}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":340,"y":1880,"wires":[]},{"id":"ba0b1a94360feb22","type":"comment","z":"99f5c956fd30274b","name":"Tensão de Saída (V)","info":"","x":590,"y":520,"wires":[]},{"id":"139f282ed9848dab","type":"ui_text","z":"99f5c956fd30274b","group":"52e687c73a14dfa3","order":15,"width":3,"height":1,"name":"","label":"","format":"{{msg.payload}} Vca","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":550,"y":580,"wires":[]},{"id":"7d649525254a12b8","type":"comment","z":"99f5c956fd30274b","name":"Velocidade de Funcionamento","info":"","x":200,"y":1820,"wires":[]},{"id":"48978f0272a8f042","type":"link in","z":"99f5c956fd30274b","name":"link in 28","links":["32f1b87cc42c002a"],"x":185,"y":1880,"wires":[["52d94e87cf37b991"]]},{"id":"157f45c542500dc5","type":"comment","z":"99f5c956fd30274b","name":"Mensagem de Falha do Inversor","info":"","x":210,"y":1940,"wires":[]},{"id":"0e087124b80b3f8a","type":"ui_text","z":"99f5c956fd30274b","group":"52e687c73a14dfa3","order":20,"width":10,"height":1,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":320,"y":1980,"wires":[]},{"id":"9da4c529be24257e","type":"link in","z":"99f5c956fd30274b","name":"link in 29","links":["bf6b0aa3bcd81fe8"],"x":185,"y":1980,"wires":[["0e087124b80b3f8a"]]},{"id":"d3076e0d7b2ff00a","type":"comment","z":"99f5c956fd30274b","name":"Corrente de Saída (A)","info":"","x":180,"y":2040,"wires":[]},{"id":"c54d61c05b88a540","type":"link in","z":"99f5c956fd30274b","name":"link in 30","links":["0ec7098cf3e7068d"],"x":185,"y":2080,"wires":[["7da5bb4835672210"]]},{"id":"7da5bb4835672210","type":"ui_text","z":"99f5c956fd30274b","group":"52e687c73a14dfa3","order":16,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}} A","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":310,"y":2080,"wires":[]},{"id":"c1d6b829f2848f9c","type":"ui-text","z":"cf2ed31164ba6963","group":"bbaaf3202bcb9710","order":2,"width":1,"height":null,"name":"Slave ID","label":"Device ID: ","format":"{{msg.payload}}","layout":"col-center","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":260,"y":100,"wires":[]},{"id":"cf6e8f48f0b11448","type":"comment","z":"cf2ed31164ba6963","name":"Comunicação","info":"","x":90,"y":40,"wires":[]},{"id":"e366a0047e072623","type":"ui-switch","z":"cf2ed31164ba6963","name":"","label":"","group":"bbaaf3202bcb9710","order":4,"width":1,"height":0,"passthru":false,"decouple":false,"topic":"topic","topicType":"msg","style":"","className":"","layout":"row-left","clickableArea":"switch","onvalue":"true","onvalueType":"bool","onicon":"link-variant","oncolor":"blue","offvalue":"false","offvalueType":"bool","officon":"link-variant-off","offcolor":"red","x":130,"y":160,"wires":[[]]},{"id":"e8120cdd8caf9266","type":"ui-number-input","z":"cf2ed31164ba6963","group":"bbaaf3202bcb9710","name":"","label":"ID","order":1,"width":1,"height":null,"topic":"topic","topicType":"msg","min":"1","max":"100","step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"stacked","x":130,"y":100,"wires":[["c1d6b829f2848f9c"]]},{"id":"475880286d966be6","type":"comment","z":"cf2ed31164ba6963","name":"Controle","info":"","x":80,"y":240,"wires":[]},{"id":"6cccceaf33c9644d","type":"ui-button","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","name":"","label":"FWD","order":4,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"reload","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"white","textColor":"black","iconColor":"black","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":130,"y":400,"wires":[[]]},{"id":"9621fb448e48d875","type":"ui-button","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","name":"","label":"REV","order":7,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"restore","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"white","textColor":"black","iconColor":"black","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":130,"y":440,"wires":[[]]},{"id":"bd185d2df504b326","type":"ui-button","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","name":"","label":"STOP","order":6,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"stop","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"red","textColor":"white","iconColor":"white","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":130,"y":560,"wires":[[]]},{"id":"6a22e6a7e1baed1c","type":"ui-button","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","name":"","label":"JOG FWD","order":5,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"rotate-right","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"blue","textColor":"white","iconColor":"white","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":150,"y":480,"wires":[[]]},{"id":"99727e90fb1ca953","type":"ui-button","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","name":"","label":"JOG REV","order":8,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"rotate-left","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"blue","textColor":"white","iconColor":"white","enableClick":true,"enablePointerdown":false,"pointerdownPayload":"","pointerdownPayloadType":"str","enablePointerup":false,"pointerupPayload":"","pointerupPayloadType":"str","x":140,"y":520,"wires":[[]]},{"id":"3b1ab508ebee37f3","type":"ui-led","z":"cf2ed31164ba6963","name":"FWD_led","group":"b34cfdcae96af7a4","order":3,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"center","states":[{"value":"false","valueType":"bool","color":"#ffffff"},{"value":"true","valueType":"bool","color":"#00ff00"}],"allowColorForValueInMessage":false,"shape":"square","showBorder":true,"showGlow":true,"x":380,"y":400,"wires":[]},{"id":"f4a21599392a6d43","type":"ui-led","z":"cf2ed31164ba6963","name":"REV_led","group":"b34cfdcae96af7a4","order":9,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"center","states":[{"value":"false","valueType":"bool","color":"#ffffff"},{"value":"true","valueType":"bool","color":"#00ff00"}],"allowColorForValueInMessage":false,"shape":"square","showBorder":true,"showGlow":true,"x":380,"y":440,"wires":[]},{"id":"069d3d3c5d735940","type":"ui-led","z":"cf2ed31164ba6963","name":"STOP_led","group":"b34cfdcae96af7a4","order":10,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"center","states":[{"value":"false","valueType":"bool","color":"#ffffff"},{"value":"true","valueType":"bool","color":"#ff0000"}],"allowColorForValueInMessage":false,"shape":"square","showBorder":true,"showGlow":true,"x":390,"y":560,"wires":[]},{"id":"cd256db4122d9f99","type":"ui-slider","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","name":"","label":"","tooltip":"","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"always","showTicks":"false","min":"-10000","max":"10000","step":1,"className":"","iconPrepend":"cog-counterclockwise","iconAppend":"cog-clockwise","color":"","colorTrack":"","colorThumb":"","showTextField":true,"x":130,"y":340,"wires":[[]]},{"id":"08d077bc39fc4a27","type":"ui-text","z":"cf2ed31164ba6963","group":"b34cfdcae96af7a4","order":1,"width":0,"height":0,"name":"","label":"Freq. saída (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":170,"y":300,"wires":[]},{"id":"dccf4b30530aa5f9","type":"comment","z":"cf2ed31164ba6963","name":"Controle da saída Analógica","info":"","x":140,"y":640,"wires":[]},{"id":"7ec978ad0e161eaa","type":"comment","z":"cf2ed31164ba6963","name":"Controle da saída de Pulsos","info":"","x":140,"y":780,"wires":[]},{"id":"1a96d958c6497a97","type":"ui-slider","z":"cf2ed31164ba6963","group":"3573df7d5e519b84","name":"","label":"FOV (%): ","tooltip":"","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"always","showTicks":"false","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":140,"y":700,"wires":[[]]},{"id":"d6c7a2c85834d4da","type":"ui-slider","z":"cf2ed31164ba6963","group":"1d3a40be7fedde23","name":"","label":"PWM (%): ","tooltip":"","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","thumbLabel":"always","showTicks":"false","min":0,"max":"100","step":1,"className":"","iconPrepend":"","iconAppend":"","color":"","colorTrack":"","colorThumb":"","showTextField":false,"x":150,"y":840,"wires":[[]]},{"id":"24aa321fe9c89746","type":"comment","z":"cf2ed31164ba6963","name":"Parâmetros de partida/parada","info":"","x":140,"y":920,"wires":[]},{"id":"727336ada964a21c","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":1,"width":"6","height":"1","name":"1001 - Freq. Saída","label":"1001 - Freq. Saída (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":980,"wires":[]},{"id":"01a04b007876b645","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":2,"width":0,"height":0,"name":"1002 - Tensão do barr. DC (Vdc):","label":"1002 - Tensão do barr. DC (Vdc):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":420,"y":1020,"wires":[]},{"id":"4bd70c1be23d825e","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":3,"width":0,"height":0,"name":"1003 - Tensão de saída (Vca):","label":"1003 - Tensão de saída (Vca):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":410,"y":1060,"wires":[]},{"id":"bc4ccd1901d4c900","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":4,"width":0,"height":0,"name":"1004 - Corrente de saída (A):","label":"1004 - Corrente de saída (A):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":400,"y":1100,"wires":[]},{"id":"17ea61f2b2c14160","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":5,"width":0,"height":0,"name":"1005 - Potência de saída (kW):","label":"1005 - Potência de saída (kW):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":410,"y":1140,"wires":[]},{"id":"1fa88683c23c5c8d","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":6,"width":0,"height":0,"name":"1006 - Torque de saída (Nm):","label":"1006 - Torque de saída (Nm):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":400,"y":1180,"wires":[]},{"id":"cce5b40222cc62c9","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":7,"width":0,"height":0,"name":"1007 - Velocidade (r/min):","label":"1007 - Velocidade (r/min):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":390,"y":1220,"wires":[]},{"id":"1659265452375c66","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":8,"width":0,"height":0,"name":"1008 - Entrada S:","label":"1008 - Entrada S:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1260,"wires":[]},{"id":"8473a505f61ed4f4","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":9,"width":0,"height":0,"name":"1009 - Saída M01:","label":"1009 - Saída M01:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1300,"wires":[]},{"id":"0123230845d62042","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":10,"width":0,"height":0,"name":"100A - Tensão FIV (Vdc):","label":"100A - Tensão FIV (Vdc):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":390,"y":1340,"wires":[]},{"id":"7c7e665600cb54e7","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":11,"width":0,"height":0,"name":"100B - Tensão FIC:","label":"100B - Tensão FIC:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1380,"wires":[]},{"id":"dd708c8eb324b3af","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":12,"width":0,"height":0,"name":"100C - Reservado:","label":"100C - Reservado:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1420,"wires":[]},{"id":"ae555644cb14171a","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":13,"width":0,"height":0,"name":"100D - Entrada de Contagem:","label":"100D - Entrada de Contagem:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":410,"y":1460,"wires":[]},{"id":"eeefa04931cba99e","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":14,"width":0,"height":0,"name":"100E - Entrada de Comprimento:","label":"100E - Entrada de Comprimento:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":420,"y":1500,"wires":[]},{"id":"5fa56324cb539e7a","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":15,"width":0,"height":0,"name":"100F - Velocidade da Carga:","label":"100F - Velocidade da Carga:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":400,"y":1540,"wires":[]},{"id":"e0b1142a1f56e30b","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":16,"width":0,"height":0,"name":"1010 - Configuração do PID:","label":"1010 - Configuração do PID:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":400,"y":1580,"wires":[]},{"id":"4f0ab34eabc19aa6","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":17,"width":0,"height":0,"name":"1011 - Retorno PID:","label":"1011 - Retorno PID:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1620,"wires":[]},{"id":"c2414fc0e121e506","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":18,"width":0,"height":0,"name":"1012 - Passos CLP:","label":"1012 - Passos CLP:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":380,"y":1660,"wires":[]},{"id":"09a3fe6113fdaed3","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":19,"width":0,"height":0,"name":"1013 - Entrada de Freq. (0.01 kHz):","label":"1013 - Entrada de Freq. (0.01 kHz):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":420,"y":1700,"wires":[]},{"id":"2ab751c99564f05f","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":20,"width":0,"height":0,"name":"1014 - Reservado:","label":"1014 - Reservado:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1740,"wires":[]},{"id":"cd92be82debebfbf","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":21,"width":0,"height":0,"name":"1015 - Tempo restante de operação:","label":"1015 - Tempo restante de operação:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":430,"y":1780,"wires":[]},{"id":"3a4db45899570b86","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":22,"width":0,"height":0,"name":"1016 - FIV antes da Correção de Tensão:","label":"1016 - FIV antes da Correção de Tensão:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":440,"y":1820,"wires":[]},{"id":"77c8396aca190b42","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":23,"width":0,"height":0,"name":"1017 - FIC antes da Correção de Tensão:","label":"1017 - FIC antes da Correção de Tensão:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":440,"y":1860,"wires":[]},{"id":"ba3ca0f376bd2795","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":24,"width":0,"height":0,"name":"1018 - Reservado:","label":"1018 - Reservado:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":1900,"wires":[]},{"id":"88285ca0f6e5afad","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":25,"width":0,"height":0,"name":"1019 - Velocidade Linear:","label":"1019 - Velocidade Linear:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":390,"y":1940,"wires":[]},{"id":"a9ef22fac576bd52","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":26,"width":0,"height":0,"name":"101A - Atual tempo de Energização:","label":"101A - Atual tempo de Energização:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":420,"y":1980,"wires":[]},{"id":"70f1709213691fbd","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":27,"width":0,"height":0,"name":"101B - Atual tempo de Operação:","label":"101B - Atual tempo de Operação:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":420,"y":2020,"wires":[]},{"id":"01a94e19ff2f396a","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":28,"width":0,"height":0,"name":"101C - Entrada de Freq. (1Hz):","label":"101C - Entrada de Freq. (1Hz):","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":410,"y":2060,"wires":[]},{"id":"17c5b16c447c1c26","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":29,"width":0,"height":0,"name":"101D - Configuração de Comunicação:","label":"101D - Configuração de Comunicação:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":430,"y":2100,"wires":[]},{"id":"cc5f3d5f3c572bf9","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":30,"width":0,"height":0,"name":"101E - Reservado:","label":"101E - Reservado:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":370,"y":2140,"wires":[]},{"id":"fba474ca884a4712","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":31,"width":0,"height":0,"name":"101F - Freq. Principal X:","label":"101F - Freq. Principal X:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":390,"y":2180,"wires":[]},{"id":"f5d328eecca52c4a","type":"ui-text","z":"cf2ed31164ba6963","group":"c005d009505aca4a","order":32,"width":0,"height":0,"name":"1020 - Freq. Auxiliar Y:","label":"1020 - Freq. Auxiliar Y:","format":"{{msg.payload}}","layout":"row-spread","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","x":380,"y":2220,"wires":[]},{"id":"25810b329d8b8d0d","type":"ui-gauge","z":"cf2ed31164ba6963","name":"Freq. Operação (Hz)","group":"e395a4d2d2ed13f0","order":2,"width":3,"height":3,"gtype":"gauge-34","gstyle":"rounded","title":"Freq. Saída","units":"Hz","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"4","color":"#ffc800"},{"from":"7","color":"#ea5353"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":660,"y":300,"wires":[]},{"id":"0921f0a1046c18ea","type":"ui-gauge","z":"cf2ed31164ba6963","name":"Velocidade","group":"e395a4d2d2ed13f0","order":1,"width":3,"height":3,"gtype":"gauge-34","gstyle":"rounded","title":"Velocidade de Saída","units":"r/min","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"4","color":"#ffc800"},{"from":"7","color":"#ea5353"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":630,"y":400,"wires":[]},{"id":"2bb93eb75cb9c2de","type":"ui-chart","z":"cf2ed31164ba6963","group":"e395a4d2d2ed13f0","name":"","label":"Freq. Saída (Hz)","order":3,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"","yAxisProperty":"payload","yAxisPropertyType":"msg","ymin":"","ymax":"","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":6,"height":8,"className":"","interpolation":"linear","x":640,"y":340,"wires":[[]]},{"id":"b443641fb7bebb01","type":"comment","z":"cf2ed31164ba6963","name":"Indicadores","info":"","x":590,"y":240,"wires":[]}]